body{
	font: 14px/21px Microsoft YaHei, Tahoma, Arial;
	display:block;
	width:60%;
	color: #444;
	margin: 0 auto; 
}
.file{
	   
}
.file p{
	border-bottom: 1px solid #CCC;
	 
} 

.variable{
	 
}
.variable p{
	padding-left: 20px;
	word-wrap:break-word; overflow:hidden;
	width:400px;
}

.variable h3{
	 
}

.function{
	 
}
.function p{
	padding-left: 20px;
	word-break: break-word;
}

.function h3{
	
}

.build_target{
	 
}
.build_target p{
	padding-left: 20px;
	word-break: break-word;
}

.build_target h3{
	
}

 